
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}

body{
    background-color: #bbc6fa;
}

.quote-box{
    width:700px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    padding:40px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,1.5);
}

.quote-box h2{
    font-size: 28px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after{
    content: '';
    width:75px;
    height:3px;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);  
}

.quote-box blockquote{
    font-size: 20px;
    min-height: 110px;
}

.quote-box blockquote::after, .quote-box blockquote::before{
    content: '"'
}

.quote-box span{
    display: block;
    margin-top: 10px;
    float:right;
    position: relative;
}

.quote-box span::before{
    content:'';
    width: 20px;
    height:2px;
    background: rgb(23,124,229);
    position:absolute;
    top:50%;
    left:-30px;
}

.quote-box div{
    width:100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    border: 1px solid rgb(23,124,229);
    width:150px;
    height:40px;
    border-radius:25px;
    color:#ffff;
    font-size: 15px;
    background: rgb(23,124,229);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor:pointer;
}

.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
}

button:nth-child(1):hover{
    transform: scale(0.98);
    background: #333;
    box-shadow: 0px 10px 18px 0px rgba(82, 3, 166, 0.469);
    transition: all 0.5s ease-out;
}

button:nth-child(2):hover{
    transform: scale(0.98);
    background: black;
    color: white;
    box-shadow: 0px 10px 18px 0px rgba(82, 3, 166, 0.469);
    transition: all 0.5s ease-out;
}

.footer{
    background-color: black;
    border-radius:10px;
    position: absolute;
    width:450px;
    height:50px;
    bottom:0%;
    left:50%;
    transform: translate(-50%,-60%);
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.footer button{
    margin: 10px 10px;
    background: rgb(23,124,229);
    border-radius: 3px;
    border:none;
    padding:3px;
    font-size: 18px;
    color:white;
    cursor:pointer;
}

button:hover:nth-last-child(1){
    transform: scale(0.98);
    background: red;
    box-shadow: 0px 10px 18px 0px rgba(82, 3, 166, 0.469);
    transition: all 0.5s ease-out;
}
